body{
	background-color:  lightblue;

}
h1{
color: black;
background-color: lightblue;
font-size: 60px
font-family: "Roboto", sans-serif;
margin: 50px
padding: 30px

}
*{
	margin: 0;
	padding: 0;
}
nav{
	background: white;
}
ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;/*distribuye los elementos equitativamente*/
	padding: 0;
}
li{
	margin: 0;
	padding: 10px
}
a{
	text-decoration: none;
	color: black
}
li:hover{
	transition: 250ms;
	background-color: lightpink;
}